<div class="footer">
      <div class="footerline"><img src="images/footerline.jpg" /></div>
      <div class="footerbuttons">
      <div class="footerbut1"><a href="#"><img src="images/b1.jpg" width="182" height="64" border="0" /></a></div>
      <div class="footerbut1"><a href="#"><img src="images/b2.jpg" width="180" height="63" border="0" /></a></div>
      <div class="footerbut1"><a href="#"><img src="images/b3.jpg" width="181" height="63" border="0" /></a></div>
      <div class="footerbut1"><a href="#"><img src="images/b4.jpg" width="180" height="63" border="0" /></a></div>
      <div class="footerbut1"><a href="#"><img src="images/b5.jpg" width="182" height="63" border="0" /></a></div>
   </div>
</div>
