<div class="header">
    <div class="flashlogo">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="204" height="176">
        <param name="movie" value="flash/new1gm.swf" />
        <param name="quality" value="high" />
        <embed src="flash/new1gm.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="204" height="176"></embed>
      </object>

    </div>
    <div class="rightheader"><img src="images/gm logo.png" width="266" height="176" /></div>
  </div>
