<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>GM Retails Marketing</title>
   
  <%= render 'layouts/stylesheets' %>
  
<link href="stylesheet.css" rel="stylesheet" type="text/css" />
  </head>
     <body>
       <div class="cont">

  <%= render 'layouts/header' %> 
  
      <div class="middlecont">
          <div class="leftbar">
	   <div class="leftbarbutn1"><a href="#"><img src="images/page1_10.png" width="156" height="44" border="0" /></a></div>
	   <div class="leftbarbutn1"><a href="#"><img src="images/page1_13.png" border="0" /></a></div>
	   <div class="leftbarbutn1"><a href="#"><img src="images/page1_15.png" border="0" /></a></div>
     <div class="leftbarflashbanner"></div>
    </div>
  
     <div class="mainpage">
	    <div class="mainpglogo"><a href="#"><img src="images/logo1.png" border="0" /></a></div>
		 <div class="mainpglogo"><a href="#"><img src="images/logo2.png" width="156" height="106" border="0" /></a></div>
		  <div class="mainpglogo">  </div>
        	    <div class="mainpgbutn"><a href="#"><img src="images/country.jpg" border="0" /></a></div>
	              <div class="mainpgbutn"><a href="#"><img src="images/city.jpg" width="151" height="44" border="0" /></a></div>
	                  <div class="mainpgbutn"><a href="#"><img src="images/malls.jpg" width="151" height="44" border="0" /></a></div>
     </div>
      
      <div class="rightbar">
	  
	    <div class="rightbarflash1"></div>
		
	    <div class="rightbarflash2">
      </div>
	  </div>
  </div>
  
   <%= render 'layouts/footer' %>
</div>
</body>
</html>
